/* ------------------------------------------------------------------------- *
 *  Tablet (Portrait) : 890px Width
/* ------------------------------------------------------------------------- */

@media only screen and (max-width: 890px) {
	
	/* Content */
	.sidebar h2 {
		font-size: 30px;
	}
	
}

/* ------------------------------------------------------------------------- *
 *  Mobile (Portrait) : 640px Width
/* ------------------------------------------------------------------------- */

@media only screen and (max-width: 640px) {
	
	/* Header */
	header {
		min-height: 105px;
	}
	
	/* Content */
	.main {
		padding-left: 0.9375em;
	}
	
	.breadcrumbs {
		padding-bottom: 20px;
	}
	
	.sidebar {
		margin-bottom: 30px;
	}
		
		.sidebar h2 {
			font-size: 26px;
		}
	
	/* Service template */
	.company-contact .mugshot {
		display: none;
	}
	
	.company-contact h4 {
		margin-top: 0;
	}
	
	/* Footer */
	#blog-feed {
		margin-top: 20px;
		padding-top: 20px
	}
	
		#blog-feed .post {
			border-bottom: solid 1px #d6d8db;
			padding: 15px 0.9375em;
		}
		
		#blog-feed .post:last-child {
			border-bottom: none;
		}
	
}