/*
Theme Name: Fletcher Law
Theme URI: http://www.cleverstarfish.com
Description: Custom WordPress theme for Fletcher Law
Author: Clever Starfish
Version: 1.0
*/
@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

/* Fonts */
@font-face {
  font-family: 'futuramedium';
  src: url('assets/fonts/futura-webfont.eot');
  src: url('assets/fonts/futura-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/futura-webfont.woff') format('woff'),
       url('assets/fonts/futura-webfont.ttf') format('truetype'),
       url('assets/fonts/futura-webfont.svg#futuramedium') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* General */
body {
	font-family: 'Georgia', serif;
	font-size: 13px;
	color: #1f2632;
	background: #ffffff;
}

li#field_2_5  {
	display: none;
}

/* Header */
header {
	min-height: 308px;
	margin-bottom: 20px;
}

#internal header {
	min-height: 0;
}

	header #logo {
		display: block;
		margin: 14px auto 20px auto;
	}

	header nav {
		height: 35px;
	}

		header nav ul {
			position: relative;
			float: right;
			left: -50%;
			list-style: none;
		}

			header nav ul li {
				position: relative;
				float: left;
				left: 50%;
				margin: 0 25px;
				height: 35px;
			}

				header nav ul li a {
					font-family: 'Georgia', serif;
					font-size: 13px;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 0.5px;
					color: #587497;
				}

				header nav ul li.current_page_item a, header nav ul li a:hover {
					color: #242a3d;
				}
				
				header nav ul .sub-menu {
					display: block;
					position: absolute;
					top: 35px;
					left: -30px;
					background: #a3b3c6;
					z-index: 10;
					display: none;
					padding: 15px 0;
				}
				
				header nav ul .sub-menu:after {
					clear: both;
					display: block;
					content: "";
				}
				
					header nav ul .sub-menu li {
						left: 0px;
						margin: 8px 30px;
						height: 24px;
						line-height: 24px;
					}
					
						header nav ul .sub-menu li a {
							line-height: 40px;
							color: #242a3e;
							line-height: 24px;
						}
						
						header nav ul .sub-menu li:hover a {
							color: #587497;
						}
						
				header nav li:hover > ul.sub-menu, header nav li ul.sub-menu:hover {
					display: block;
				}

	.select-style {
    width: 100%;
    overflow: hidden;
    border: solid 1px #dfdedc;
    margin-bottom: 20px;
    background: #ffffff url( 'assets/art/select-bg.png' ) no-repeat 95% 50%;
	}

		.select-style select {
			font-family: 'Georgia', serif;
			font-size: 13px;
			text-transform: uppercase;
	    padding: 5px 8px;
	    width: 110%;
	    border: none;
	    box-shadow: none;
	    background: transparent;
	    background-image: none;
	    -webkit-appearance: none;
		}

		.select-style select:focus {
		   outline: none;
		}

	header .row.banner {
		max-width: 100em;
		height: 185px;
		border-top: solid 8px #a3b3c6;
		background: transparent url( 'assets/art/home-banner-placeholder.jpg' ) top center no-repeat;
	}

	#internal header .row.banner {
		height: 185px;
		background: transparent url( 'assets/art/internal-banner-placeholder.jpg' ) center center no-repeat;
	}

		header .row.banner .row {
			max-width: 78.769em !important;
			margin: 0 auto !important;
			padding: 0 0.9375em;
		}

			header .row.banner .banner-content {
				height: 177px;
				padding: 0;
				background: rgba(59,56,74,0.9);
			}

			#internal .row.banner .banner-content {
				height: 177px;
				position: relative;
			}

				header .row.banner .banner-content p {
					font-family: 'Georgia', serif;
					font-size: 15px;
					font-style: italic;
					line-height: 20px;
					position: relative;
					padding: 0 40px;
					color: #ffffff;
				}
				
				header .row.banner .banner-content img {
					max-height: 70px;
					margin: 6px auto 6px;
				}
				
				header .row.banner .banner-content p:after {
					clear: both;
					display: block;
					content: "";
				}

					header .row.banner .banner-content .banner-buttons {
						    bottom: 0;
						    padding: 0;
						    position: absolute;
						    width: 100%;
					}

						header .row.banner .banner-content .banner-buttons .banner-button {
							height: 50px;
							background: #242a3e;
						}

							header .row.banner .banner-content .banner-buttons .banner-button a {
								font-family: 'futuramedium';
								font-size: 16px;
								padding-top: 14px;
								color: #ebebeb;
								display: block;
								text-align: center;
								text-decoration: none;
								text-transform: uppercase;
							}

								header .row.banner .banner-content .banner-buttons .banner-button a .fa {
									font-size: 19px;
								}

							header .row.banner .banner-content .banner-buttons .banner-button.view-services {
								border-right: solid 1px #3a4052;
							}

							header .row.banner .banner-content .banner-buttons .banner-button.meet-our-team {
								border-left: solid 1px #191d2b;
							}
	
	.flex-direction-nav {
		
		margin-top: -25px;
	}
	
	.banner-content .author {
		    display: block;
    float: right;
    margin-top: 5px;
	}
	
	.flex-direction-nav a {
		color: #ffffff;
		text-decoration: none;
		
	}
	
	.flex-prev, .flex-next {
		display: block;
	    z-index: 20;
	    position: absolute;
	}
	
	.flex-prev {
		float: left;
		left: 10px;
	}
	
	.flex-next {
		float: right;
		right: 10px;
	}

	header .row.mobile-banner {
		background: #424a5f;
		border-top: solid 8px #d5e0ea;
	}

		header .row.mobile-banner p {
			font-family: 'Georgia', serif;
			font-size: 16px;
			font-weight: 100;
			text-align: center;
			line-height: 32px;
			color: #ffffff;
			padding: 30px;
		}


/*FORMS by Rachel */

#content .gform_wrapper {
    margin: 30px 0 50px;
    max-width: 78%;
    overflow: inherit;
}

#content .gform_body ul {
	margin: 0;
}

#content .gform_body ul li {
	list-style-type: none;
}

#content .gform_heading h3 {
	margin-bottom: 10px;
}

#content input[type='text'], #content select, #content textarea {
	font: 16px;
	padding: 8px;
	-webkit-appearance: none;
	font-family: "Georgia",serif;
	font-size: 16px;
	border: 1px solid #d2d2d1;
	height: 36px;
	line-height: 29px;
}

#content input[type='text'], #content textarea {
	width: 60%;
}

#content .gform_footer input[type=submit]  {
	-webkit-appearance: none;
	border:0;
	outline:0;
	background: #cdd5e0;
	color: #2f3550;
    font-size: 14px !important;
    margin-top: 10px;
    padding: 8px 20px;
    font-family: "futuramedium";
    text-transform: uppercase;
}


#content  .gform_wrapper .top_label textarea {
	border: 1px solid #d2d2d1;
}

#content .selector select {
	height: 36px !important;
    width: 100% !important;
}

#content .selector span {
    width: auto !important;
}

#content .gform_confirmation_message {
	margin: 30px 0;
	font-size: 16px;
}

#content .validation_message{
	color: red;
	font-size: 14px;
}

/* Content */

#content {
	padding-top: 8px;
}

.breadcrumbs {
	padding-bottom: 25px;
}

	.breadcrumbs p {
		font-family: 'Georgia', serif;
		font-size: 13px;
		color: #242a3d;
	}

		.breadcrumbs p a, .breadcrumbs p a:visited {
			color: #242a3d;
			text-decoration: none;
		}

		.breadcrumbs p a.current_page {
			color: #7d8dab;
		}

.sidebar {
	padding: 10px 30px auto;
}

	.sidebar h1,
	.sidebar h2 {
		font-family: 'Georgia', serif;
		font-size: 34px;
		font-weight: 100;
		line-height: 38px;
		letter-spacing: 0.35px;
		color: #242a3d;
		margin: 0 0 30px 0;
		padding-top: 20px;
	}

	.sidebar h3 {
		font-family: 'Georgia', serif;
		font-size: 16px;
		font-weight: 100;
		letter-spacing: 0.35px;
		margin-top: 20px;
		color: #1e2942;
	}

	.sidebar ul.services {
		background: #e3e8ee;
		padding: 15px 20px;
		list-style: none;
	}

		.sidebar ul.services li {
			padding: 15px 0;
			margin: 0;
			border-bottom: solid 2px #c0c7d1;
		}

			.sidebar ul.services li a {
				font-family: 'futuramedium';
				font-size: 12px;
				text-transform: uppercase;
				text-decoration: none;
				color: #1e2942;
			}

			.sidebar ul.services li a:hover {
				color: #7d8dab;
			}

			.sidebar ul.services li.current_page_item a {
				color: #8995ab;
			}

		.sidebar ul.services li:last-child {
			border-bottom: none;
		}

	.sidebar .quote {
		font-family: 'Georgia', serif;
		font-size: 16px;
		font-style: italic;
		line-height: 34px;
		letter-spacing: 0.35px;
		color: #2e3641;
		margin-top: 45px;
		padding-bottom: 25px;
	}

	.sidebar .example-project {

	}

		.sidebar .example-project p.image {

		}

		.sidebar .example-project p.company-name {
			font-family: 'futuramedium';
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			color: #1e2942;
			line-height: 20px;
			padding: 9px 0;
		}

		.sidebar .example-project p.services-offered {
			font-family: 'futuramedium';
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 20px;
			color: #7a7a7c;
			padding: 5px 0 25px 0;
		}

	.sidebar .related-projects {
		padding: 5px 0;
		margin-top: 45px;
		border-top: solid 5px #d5d9e0;
	}

		.sidebar .related-projects h3 {
			font-family: 'Georgia', serif;
			font-size: 26px;
			font-weight: 100;
			color: #2e364e;
		}

		.sidebar  ul {
			list-style: none;
			padding-top: 25px;
		}

			.sidebar  li {
				margin-bottom: 20px;
			}

				.sidebar ul li, .sidebar ul li a {
					font-family: 'futuramedium';
					font-size: 13px;
					text-decoration: none;
					text-transform: uppercase;
					color: #7f909f;
				}

	.sidebar.contact p {
		font-size: 16px;
		line-height: 24px;
		padding: 9px 0;
		color: #5d7da5;
	}

	.sidebar p a {
		color: #1e2942;
		text-decoration: none;
	}

.main {
	padding-left: 50px;
}

	.main h1, .main h2, .main h3, .main h4, .main h5 {
		font-family: 'Georgia', serif;
		font-weight: 100;
		margin-top: 30px;
		margin-bottom: 5px;
		letter-spacing: 0.35px;
		color: #1e2942;
	}

	.main h1 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.main h2 {
		font-size: 25px;
	}

		.main h2.show-for-small {
			margin-top: 0;
		}

		.main h2 a {
			text-decoration: none;
		}

	.main h3 {
		font-size: 21px;
	}

	.main h4 {
		font-size: 17px;
	}

	.main p {
		font-family: 'Georgia', serif;
		font-size: 16px;
		line-height: 26px;
		color: #1f2632;
		padding: 9px 0;
	}

	.main .first {
		font-size: 20px;
		line-height: 30px;
		padding-top: 25px;
		border-top: solid 5px #c8d1dd;
	}

		.first-no-italic {
			font-style: normal !important;
		}

	.main ol, .main ul {
		margin-left: 40px;
		margin-bottom: 25px;
	}

		.main ol li, .main ul li {
			margin-bottom: 8px;
			font-size: 16px;
			line-height: 24px;
		}
		.main ol{ 
			counter-reset: listing ;
		}
		.main ol li { 
				display: block ;
		}
		.main ol li:before { 
			content: counters(listing, ".") " "; 
			counter-increment: listing ;
			padding-right:10px; 
			margin-left:-20px;
		}
	.main a, .main a:visited {
		color: #1f2632;
		text-decoration: underline;
	}

/* Service template */
.main .company-contact {
	margin-top: 35px;
	padding-top: 15px;
	border-top: solid 5px #d5d9e0;
}
	.main .company-contact h3 {
		font-size: 26px;
		padding-bottom: 15px;
	}

	.main .company-contact h4 {
		font-size: 21px;
	}

	.main .company-contact img.contact-image {
		margin-right: 25px !important;
	}

	.main .company-contact p {
		padding: 1px 0;
		line-height: 24px;
	}

		.main p.title {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.95px;
			color: #6e6c6b;
		}

		.main p.academic {
			font-size: 13px;
			color: #6e6c6b;
			letter-spacing: 0.35px;
		}

		.main p.contact {
			font-size: 13px;
			line-height: 20px;
			padding-top: 10px;
			letter-spacing: 0.35px;
			color: #1e2942;
		}

			.main p.contact a {
				text-decoration: none;
			}

		.main .contact-content {
			border-top: solid 5px #d5d9e0;
			padding-top: 40px;
		}

/* Blog template */
.sidebar.news h3 {
	font-family: 'Georgia', serif;
	font-size: 26px;
	font-weight: 100;
	color: #2e364e;
	padding-top: 20px;
	letter-spacing: 0.35px;
	border-top: solid 5px #d5d9e0;
}

.sidebar.news .rss-subscribe {
	font-size: 16px;
}

	.sidebar.news .rss-subscribe img {
		padding-right: 5px;
	}

.sidebar.news ul.categories {
	margin-bottom: 50px;
}

.sidebar.news ul li a {
	font-size: 12px;
}


.row.pagination {

}

.row.pagination.top {
	padding-top: 20px;
	border-top: solid 5px #d5d9e0;
}

	.row.pagination ul {
		list-style: none;
		padding: 0 40px 0 0;
		margin-bottom: 10px;
		float: right;
	}

		.row.pagination ul li {
			float: left;
			margin-right: 15px;
		}

			.row.pagination ul li a {
				font-family: 'Georgia', serif;
				font-size: 16px;
				display: inline-block;
				padding: 3px 7px 7px;
				color: #ffffff;
				text-decoration: none;
				background: #9ca6b2;
			}

			.row.pagination ul li.current_page a {
				background: #273856;
			}

.row.post {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: solid 5px #dde0e7;
}

	.row.post h2 {
		margin-top: 0;
	}

	.single-post .row.post {
		margin-bottom: 0;
	}

/* People template */
.person {
	padding-top: 35px;
	border-top: solid 5px #d5d9e0;
}

	.person img.photo {
		display: block;
		margin: 0 auto;
	}

	.person h2 {
		float: left;
		margin-top: 0;
	}

	.person .social {
		float: right;
		font-size: 20px;
		padding-right: 45px;
		color: #adbdc9;
	}

		.person .social a {
			color: #adbdc9;
			text-decoration: none;
		}

	.person .info {
		margin-bottom: 25px;
	}

	.person .info p {
			line-height: 16px;
			padding: 1px 0;
		}

		.person .info p.title {
			padding-top: 5px;
		}

		.person .info p.contact {
			line-height: 20px;
			padding-top: 15px;
		}

	.person .quote {
		font-family: 'Georgia', serif;
		font-size: 18px;
		font-style: italic;
		line-height: 30px;
		letter-spacing: 0.35px;
		padding-bottom: 25px;
		color: #1f2632;
	}

	.person .cv {
		font-size: 15px;
		margin-top: 10px;
		padding-left: 30px;
		background: transparent url( 'assets/art/cv.gif' ) center left no-repeat;
	}

		.person .cv a {
			text-decoration: none;
		}

/* Footer */
#blog-feed {
	min-height: 250px;
	margin-top: 25px;
	padding: 35px 0;
	background: #eef0f4;
}

	#blog-feed .post {
		padding: 0 20px 0 35px;
		border-right: solid 1px #d6d8db;
	}

	#blog-feed .post:first-child {
		padding-left: 20px;
	}

		#blog-feed .post h5, #blog-feed .post h5 a {
			font-family: 'Georgia', serif;
			font-size: 20px;
			font-weight: 100;
			line-height: 26px;
			color: #242a3d;
		}
		#blog-feed .post h5 a  {
			text-decoration: none;
		}

		#blog-feed .post p.date {
			font-family: 'futuramedium';
			font-size: 11px;
			line-height: 16px;
			text-transform: uppercase;
			color: #717f98;
			padding: 15px 0 7px;
		}

		#blog-feed .post p {
			line-height: 26px;
		}

	#blog-feed .post:last-child {
		border-right: none;
	}

.read-more {
	font-family: 'Georgia', serif;
	font-size: 13px;
	font-weight: bold;
	color: #1f2632;
	text-decoration: none;
}

footer {
	padding: 35px 0 65px;
	border-top: solid 1px #c1cbd8;
	background: #cdd5e0;
}

	footer nav {

	}

		footer nav ul {
			position: relative;
			float: right;
			left: -50%;
			list-style: none;
		}

			footer nav ul li {
				position: relative;
				float: left;
				left: 50%;
				margin: 0 10px;
			}

				footer nav ul li a {
					font-size: 12px;
					text-transform: uppercase;
					text-decoration: none;
					color: #2f3550;
				}

				footer nav ul li a:hover {
					text-decoration: underline;
				}

	footer .second-menu {
		margin-top: 30px;
	}

	footer p {
		text-align: center;
	}

	footer p.legal {
		font-size: 12px;
		color: #738093;
		padding: 30px 0;
	}
	
	#subscribe {
		margin: 50px auto 25px;
		padding: 0 0.9375em;
	}
	
	#subscribe .gform_heading {
		width: 27%;
		float: left;
	}
	
	#subscribe .gform_body {
		width: 66%;
		float: left;
	}
	
		#subscribe .gform_body ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		
			#subscribe .gform_body li {
				float: left;
				width: 33%;
				list-style: none;
				vertical-align: top;
			}
			
				#subscribe .gform_body li label {
					display: inline-block;
					width: 25%;
				}
				
				#subscribe .gform_body li .ginput_container {
					display: inline-block;
					width: 68%;
					margin-right: 7%;
					vertical-align: top;
				}
				
					#subscribe .gform_body li .ginput_container input {
						width: 100%;
					}
			
	#subscribe .gform_footer {
		width: 7%;
		float: left;
		text-align: right;
	}

/* =General
-------------------------------------------------------------- */
.row {
	max-width: 78.769em;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}

.validation_error {
	display: none;
}

.validation_message {
	margin-top: 5px;
}

@media screen and (max-width:830px) {
	#subscribe .gform_body {
		clear: both;
		width: 90%;
	}
	
	#subscribe .gform_footer {
		width: 10%;
	}
	
	#subscribe .gform_heading {
		margin-bottom: 20px;
		width: 100%;
	}
	
	#content .gform_wrapper {
		max-width: 100%;
	}
}

@media screen and (max-width:570px) {
	#subscribe .gform_body li {
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}
	
	#subscribe .gform_body {
		width: 100%;
	}
	
	#subscribe .gform_footer {
		clear: both;
		text-align: left;
	}
	
	#subscribe .gform_footer { 
		float: left;
	}

	#content input[type='text'], #content textarea {
		width:100%;
	}
	
}

@media screen and (max-width:370px) {
	header .row.banner .banner-content .banner-buttons .banner-button a {
		padding-top: 7px;
	}
}